{% extends 'base.html' %}
{% load static %}

{% block page_title %}
{{ page_title }}
{% endblock %}

{% block content %}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li>О Компании</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<div class="choseus_area">
    <div class="container">
        <div class="row">
                  <div style="padding-top:20px">
                    <h1>Реквизиты компании</h1>
                      <div class="row" style="padding-top:20px">
                      <div>
                      <p>ИП</p>
                      <p>ИНН</p>
                      <p>ОГРНИП</p>
                      <p>ОКПО</p>
                      </div>
                      <div style="padding-left:20px">
                      <p>Востриков В.В.</p>
                      <p>032500305250</p>
                      <p>319774600171846</p>
                      <p>80878490</p>
                      </div>
                    </div>
                  </div>

            </div>

            </div>

        </div>

<!--testimonials section start-->

{% endblock content %}
