{% extends 'base.html' %}
{% load static %}

{% block page_title %}
{{ page_title }}
{% endblock %}

{% block content %}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li>О Компании</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<div class="choseus_area">
    <div class="container">
        <div class="row">


                  <div class="contact_message content" style="padding-top:20px">
                      <h1>Как можно оплатить товар или услугу?</h1>
                      <p>Оплатить товары в магазинах partshub вы можете одним из способов:</p>
                      <li>Наличными в кассе магазина</li>
                      <li>Банковской картой VISA, MASTERCARD, МИР, или MAESTRO</li>
                      <li>Через Сбербанк Онлайн</li>
                      <li>Банковским переводом</li>
                  </div>


                  <div class="contact_message content" style="padding-top:20px">
                      <h3>Как оплатить товар из регионов?</h3>
                      <p>Первое, что Вам нужно сделать - это позвонить нам, заказать звонок, или связаться любым удобным способом.</br>
                      Мы обсудим, какие запчасти нужны, оригинал или аналог, сколько стоит и т.д.</br>
                      Дальше мы отправим Вам на емайл счет, который можно оплатить в любом банке. Банк даст квитанцию, подтверждение оплаты.</br>
                      После того как оплатили счет, звоните нам и мы отправляем вам запчасти. Подробнее о работе с транспортными компаниями вы можете узнать в разделе <a href='https://partshub.ru/delivery'>Доставка</a></p>
                  </div>

            </div>

            </div>

        </div>
    </div>
</div>
<!--chose us area end-->


{% endblock content %}
