{% extends 'base.html' %}
{% load static %}

{% block page_title %}
{{ page_title }}
{% endblock %}

{% block content %}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li>О Компании</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<div class="choseus_area">
    <div class="container">
      <div class="row">
        <h1>Гарантия</h1>
        </div>
            <div class="row">
                      <div class="content" style="padding-top:20px">
                          </br>
                          <p>Все товары мы везем из Европы и гарантируем точное соответствие товара вашему заказу!</p>
                          <p>Перед отправкой товара мы обязательно свяжемся с вами, подтвердим заказ, вышлем фото при необходимости.<p/>
                      </div>

                </div>
            </div>

        </div>


<!--testimonials section end-->
{% endblock content %}
