<!doctype html>
<html class="no-js" lang="en">

<head>
    {% load static %}
    {% url 'cart:carts' as cart_url %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block page_title %}Автозапчасти новые и Б/У для авто, грузовиков и спецтехники.{% endblock %}</title>
    <meta name="description" content="{% block page_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon-venezo.png' %}">

    <!-- CSS
    ========================= -->

    <!--autocomplete css-->

    <link rel="stylesheet" type="text/css" href="{% static 'test/css/autocomplete.css' %}" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href=" {% static 'css/plugins.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66089258-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-66089258-7');
    </script>

</head>

<body>

<!-- Main Wrapper Start -->
<!--header area start-->
<header class="header_area pb-sm-90">
    <!--header top start-->
    <div class="header_top">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6 col-md-12">
                    <div class="welcome_text">
                        {% if user.is_authenticated %}
                        <p>Здравствуй <span style="color:#0363cd;">{{ user.get_username }}</span>. Приветствуем тебя на нашем сайте. Удачных покупок!<span class="small ml-2"><a style="color:#0363cd;" href="{% url 'logout' %}">Выйти</a></span></p>
                        {% else %}
                        <p>Автозапчасти новые и бу под заказ из Европы <span class="small ml-2"></span><a style="color:#0363cd;" href="{% url 'login' %}">Войти</a> </p>
                        {% endif %}

                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="top_right text-right">
                        <ul>
                            <li class="top_links"><a href="#">Насторйки <i class="ion-chevron-down"></i></a>
                                <ul class="dropdown_links">
                                    <li><a href="{% url 'login' %}">Войти </a></li>
                                    <li><a href="{% url 'carts:checkout' %}">Оформить заказ </a></li>
                                    <li><a href="{% url 'myaccount' %}">Мой Аккаунт </a></li>
                                    <li><a href="{{ cart_url }}">Корзина</a></li>
                                    <li><a href="wishlist.html">Избранное</a></li>
                                    <li><a href="{% url 'logout' %}">Выйти </a></li>
                                </ul>
                            </li>
                            <li class="language"><label>Язык:</label> <a href="#"> Русский <i
                                    class="ion-chevron-down"></i></a>
                                <ul class="dropdown_language">
                                    <li><a href="#"> English</a></li>
                                    <li><a href="#">Germany</a></li>
                                    <li><a href="#">Japanese</a></li>
                                </ul>
                            </li>
                            <li class="currency"><label>Валюта: Рубль </label>

                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header top start-->

    <!--header middel start-->
    <div class="header_middle">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                    <div class="logo">
                        <a href="{% url 'home' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="middel_right">
                        <div class="search-container">
                            <form action="{% url 'haystack_search' %}" method="get">
                                <div class="hover_category">
                                    <select class="select_option" name="select" id="categori">

                                        <!--<option value="1">Все категории</option>-->

                                        {% for cat in cats %}
                                        <option value="{{ cat.id|floatformat:'0' }}">{{ cat.rus_name|truncatechars:20 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="search_box">
                                    <input placeholder="Что ищем..." type="text" name="q" id="q" autocomplete="on">
                                    <div id="selction-ajax"></div>
                                    <button type="submit">Поиск</button>
                                </div>
                            </form>
                        </div>
                        <div class="middel_right_info">
                            <div class="header_account">
                                <a href="{% url 'myaccount' %}"><i class="ion-android-people"></i></a>
                            </div>
                            <div class="header_wishlist">
                                <a href="wishlist.html"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                            <div class="mini_cart_wrapper">
                                <a href="{{ cart_url }}"><i class="ion-bag"></i>&#8381; {{ request.session.cart_total }}</a>
                                <span class="cart_quantity"><span class="navbar-cart-count">{{ request.session.cart_items }}</span></span>
                                <!--mini cart-->
                                <div class="mini_cart">
                                    {% for cart_product in request.session.cart_products %}
                                    <div class="cart_item">
                                        <div class="cart_img">
                                            <a href="#"><img src="{{ CDN_SERVER }}/media/{{ cart_product.id }}/150/0.webp" alt="{{ cart_product.name }}"></a>
                                        </div>
                                        <div class="cart_info">
                                            <a href="#">{{ cart_product.name }}</a>

                                            <!--<span class="quantity">Qty: 1</span>-->
                                            <span class="price_cart">&#8381; {{ cart_product.price }}</span>

                                        </div>
                                        <div class="cart_remove">
                                            <a href="#"><i class="ion-android-close"></i></a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="mini_cart_table">
                                        <div class="cart_total">
                                            <span>Сумма:</span>
                                            <span class="price">&#8381; {{ request.session.cart_total }}</span>
                                        </div>
                                        <!--<div class="cart_total mt-10">
                                            <span>total:</span>
                                            <span class="price">$138.00</span>
                                        </div>-->
                                    </div>

                                    <div class="mini_cart_footer">
                                        <div class="cart_button">
                                            <a href="{{ cart_url }}">В корзину</a>
                                        </div>
                                        <div class="cart_button">
                                            <a href="{% url 'carts:checkout' %}">Оформить</a>
                                        </div>

                                    </div>

                                </div>
                                <!--mini cart end-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header middel end-->


    {% block secondheader %}{% endblock %}


</header>
<!--header area end-->
<!--header menu area start-->
<div class="header_main_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main_menu menu_one">
                    <nav>
                        <ul>

                            <li><a href="{% url 'home' %}">ГЛАВНАЯ</a>

                            </li>
                            <li><a href="{% url 'products' %}">КАТАЛОГ ЗАПЧАСТЕЙ<i class="fa fa-angle-down"></i></a>
                                <ul class="mega_menu">
                                    {% for cat in cats %}
                                    <li><a href="{% url 'subsubcat' cat.slug %}">{{ cat.rus_name|truncatechars:14 }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="{% url 'blog' %}">БЛОГ</a>

                            </li>
                            <li><a href="{% url 'delivery' %}">ДОСТАВКА<!-- <i class="fa fa-angle-down"></i>--></a>

                            </li>

                          <!--  <li><a href="{% url 'about' %}">О КОМПАНИИ</a>
                                <ul class="sub_menu pages">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">services</a></li>
                                    <li><a href="faq.html">Frequently Questions</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a href="login.html">login</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="404.html">Error 404</a></li>
                                </ul>
                          </li>-->
                            <li><a href="{% url 'contacts' %}"> КОНТАКТЫ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--header menu area end-->


{% block content %}{% endblock %}


{% include 'grey_footer.html' %}


<!-- modal area start-->
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="modal_tab">
                                <div class="tab-content product-details-large">
                                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="{% static 'img/product/product1.jpg' %}" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab2" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="{% static 'img/product/product2.jpg' %}" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab3" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="{% static 'img/product/product3.jpg' %}" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab4" role="tabpanel">
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="{% static 'img/product/product5.jpg' %}" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal_tab_button">
                                    <ul class="nav product_navactive owl-carousel" role="tablist">
                                        <li>
                                            <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab"
                                               aria-controls="tab1" aria-selected="false"><img
                                                    src="{% static 'img/product/product1.jpg' %}" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-toggle="tab" href="#tab2" role="tab"
                                               aria-controls="tab2" aria-selected="false"><img
                                                    src="{% static 'img/product/product2.jpg' %}" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link button_three" data-toggle="tab" href="#tab3" role="tab"
                                               aria-controls="tab3" aria-selected="false"><img
                                                    src="{% static 'img/product/product3.jpg' %}" alt=""></a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-toggle="tab" href="#tab4" role="tab"
                                               aria-controls="tab4" aria-selected="false"><img
                                                    src="{% static 'img/product/product5.jpg' %}" alt=""></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="modal_right">
                                <div class="modal_title mb-10">
                                    <h2>Handbag feugiat</h2>
                                </div>
                                <div class="modal_price mb-10">
                                    <span class="new_price">$64.99</span>
                                    <span class="old_price">$78.99</span>
                                </div>
                                <div class="modal_description mb-15">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum
                                        ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui
                                        nemo ipsum numquam, reiciendis maiores quidem aperiam, rerum vel recusandae </p>
                                </div>
                                <div class="variants_selects">
                                    <div class="variants_size">
                                        <h2>size</h2>
                                        <select class="select_option">
                                            <option selected value="1">s</option>
                                            <option value="1">m</option>
                                            <option value="1">l</option>
                                            <option value="1">xl</option>
                                            <option value="1">xxl</option>
                                        </select>
                                    </div>
                                    <div class="variants_color">
                                        <h2>color</h2>
                                        <select class="select_option">
                                            <option selected value="1">purple</option>
                                            <option value="1">violet</option>
                                            <option value="1">black</option>
                                            <option value="1">pink</option>
                                            <option value="1">orange</option>
                                        </select>
                                    </div>
                                    <div class="modal_add_to_cart">
                                        <form action="#">
                                            <input min="0" max="100" step="2" value="1" type="number">
                                            <button type="submit">add to cart</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal_social">
                                    <h2>Share this product</h2>
                                    <ul>
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal area end-->

{% block google_map %}{% endblock %}
<!-- JS
============================================ -->

<!-- Plugins JS -->
<script src="{% static 'js/plugins.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>

<!--Code for filters-->

<script src="{% static 'test/js/jquery.autocomplete.js' %}"></script>
<script src="{% static 'test/js/our_search_code.js' %}"></script>

<script src="{% static 'js/myjavascript.js' %}"></script>

</body>

</html>
