{% extends 'base.html' %}
{% load static %}
{% load ecommerce_extras %}
{% block page_title %}Вход - регистрация нового пользователя{% endblock %}
{% block content %}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>My account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->


<!-- customer login start -->
<div class="customer_login">
    <div class="container">
        <div class="row">
            <!--login area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form">
                    <h2>login</h2>
                    <form action="#">
                        <p>
                            <label>Имя или email<span>*</span></label>
                            <input type="text">
                        </p>
                        <p>
                            <label>Пароль<span>*</span></label>
                            <input type="password">
                        </p>
                        <div class="login_submit">
                            <a href="#">Забыли пароль?</a>
                            <label for="remember">
                                <input id="remember" type="checkbox">
                                Напомнить пароль
                            </label>
                            <button type="submit">Войти</button>

                        </div>

                    </form>
                </div>
            </div>
            <!--login area start-->

            <!--register area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form register">
                    <h2Регистрация</h2>
                    <form action="#">
                        <p>
                            <label>Email address <span>*</span></label>
                            <input type="text">
                        </p>
                        <p>
                            <label>Пароль<span>*</span></label>
                            <input type="password">
                        </p>
                        <div class="login_submit">
                            <button type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div>
<!-- customer login end -->
