{% extends 'base.html' %}
{% load static %}

{% block page_title %}
{{ page_title }}
{% endblock %}

{% block content %}



<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li>Доставка</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="choseus_area">
    <div class="container">
        <div class="row">


                  <div class="contact_message content" style="padding-top:20px">
                      <h1>Доставка</h1>
                      <p>Доставка от 7 дней</p>
                      <p>Стоимость доставки обговаривается с менеджером</p>

                      <>


                  <div class="col-lg-6 col-md-12" style="padding-top:20px">
                    <h3>Реквизиты компании и адрес</h3>
                      <div class="row" style="padding-top:20px">
                      <div>
                      <p>ИП</p>
                      <p>ИНН</p>
                      <p>ОГРНИП</p>
                      <p>ОКПО</p>
                      <p>Адрес:</p>

                      </div>
                      <div style="padding-left:20px">
                      <p>Востриков В.В.</p>
                      <p>032500305250</p>
                      <p>319774600171846</p>
                      <p>80878490</p>
                      <p><?=ADRESS_JUR?></p>
                      </div>
                    </div>
                  </div>


            </div>

            </div>

        </div>



{% endblock content %}
