{% extends 'base.html' %}
{% load static %}

{% block page_title %}
{{ page_title }}
{% endblock %}

{% block content %}



<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li>Доставка</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="choseus_area">
    <div class="container">
        <div class="row">


                  <div class="contact_message content" style="padding-top:20px">
                      <h1>Доставка</h1>
                      <p>Все товары находятся на складах в Европе поэтому срок доставки от 7 дней</p>
                      <p>Стоимость доставки обговаривается с менеджером</p>
                  

            </div>

            </div>

        </div>



{% endblock content %}
