{% extends "admin/base.html" %}

{% load static %}

{% block title %} PartsHub Admin Panel | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
<!--<link rel="icon" href="{{STATIC_URL}}img/favicon.ico" sizes="48x48"/>-->
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon-33.png' %}">
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}