{% extends 'base.html' %}
{% load static %}
{% load ecommerce_extras %}
{% block content %}
<!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'home' %}">Главная</a></li>
                            <li>Блог</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--blog area start-->
    <div class="blog_page_section pt-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="blog_wrapper">
                        {% for blog in object_list %}
                        <div class="single_blog">
                            <div class="blog_thumb">
                                <a href="{% url 'detailed' blog.slug %}"><img src="{{ blog.image.url }}" alt=""></a>
                            </div>
                            <div class="blog_content">
                                <div class="blog_title">
                                    <h3><a href="{% url 'detailed' blog.slug %}">{{ blog.title }}</a></h3>
                                </div>
                                <div class="blog_meta">
                                    <span class="post_date"><i class="fa-calendar fa"></i> {{ blog.publish }}</span>
                                    <span class="author"><i class="fa fa-user-circle"></i> Автор : admin</span>
                                    <span class="category">
                                        <i class="fa fa-folder-open"></i>
                                        <a href="#">blog.category</a>
                                    </span>
                                </div>
                                <div class="blog_desc">
                                    <p>{{ blog.short_desc|truncatechars:200 }} </p>
                                </div>
                                <div class="readmore_button">
                                    <a href="{% url 'detailed' blog.slug %}">Читать...</a>
                                </div>
                                <div class="blog_social">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="blog_sidebar_widget">
                        <div class="widget_list widget_search">
                            <h3>Поиск</h3>
                            <form action="#">
                                <input placeholder="Поиск статей..." type="text">
                                <button type="submit">Искать</button>
                            </form>
                        </div>
                        <div class="widget_list widget_tag">
                            <h3>Теги</h3>
                            <div class="tag_widget">
                                <ul>
                                    {% for tag in tags %}
                                    <li><a href="{%  url 'last' tag.slug %}">{{ tag.rus_name|truncatechars:15 }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="widget_list widget_post">
                            <h3>Последние посты</h3>
                            {% for resent in resents %}
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <!--<a href="{% url 'detailed' resent.slug %}"><img src="{{ resent.image.url }}" alt="{{ resent.title }}"></a>-->
                                    <a href="{{ resent.get_absolute_url }}"><img src="{{ resent.image.url }}" alt="{{ resent.title }}"></a>
                                </div>
                                <div class="post_info">
                                    <h3><a href="{% url 'detailed' resent.slug %}">{{ resent.title|truncatechars:20 }}</a></h3>
                                    <span>{{ resent.publish }}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="widget_list comments_post">
                            <h3>Товары</h3>
                            {% for product in products %}
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a href="{% url 'detailed_id' product.pk %}"><img src="{{ CDN_SERVER }}/media/{{ product.pk }}/150/0.webp" alt="{{ product.name }}" onerror="this.onerror=null;this.src='{{ CDN_SERVER }}/media/default/300/default.png';" alt="{{ product.name }}"></a>
                                </div>
                                <div class="post_info">
                                    <a href="{% url 'detailed_id' product.pk %}">{{ product.name }}</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="widget_list widget_categories">
                            <h3>Категории</h3>
                            <ul>
                                {% for cat in cats %}
                                <li><a href="{% url 'subsubcat' cat.slug %}">{{ cat.rus_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--blog area end-->

    <!--blog pagination area start-->
 <div class="blog_pagination">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="pagination">
                        <ul>
                            <li><a href="?{% param_replace page=1 %}">1</a></li>
                            {% if object_list.has_previous %}
                            <li><a href="?{% param_replace page=object_list.previous_page_number %}">&laquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in object_list.paginator.page_range %}
                            {% if object_list.number == i %}
                            <li class="current"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% elif i > object_list.number|add:'-5' and i < object_list.number|add:'5' %}
                            <li><a href="?{% param_replace page=i %}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}

                            {% if object_list.paginator.num_pages > object_list.number|add:'4' %}
                            <li><a href="?{% param_replace page=object_list.number|add:'5' %}">&hellip;</a></li>
                            {% endif %}

                            {% if object_list.has_next %}
                            <li class="next"><a href="?{% param_replace page=object_list.next_page_number %}">&raquo;</a>
                            </li>
                            <li><a href="?{% param_replace page=object_list.paginator.num_pages %}">{{ object_list.paginator.num_pages }}</a></li>
                            {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}