{% extends 'base.html' %}
{% load static %}

{% block page_title %}
{{ page_title }}
{% endblock %}

{% block content %}



<!--contact map start-->
<div class="contact_map pt-30">
  <div class="container">
       <div class="row">
           <div class="col-12">
              <div class="map-area">
                 <div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d940.6870088332372!2d37.40267952214013!3d55.89140407547924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5389430b4de03%3A0x9bc8057d70bedbb5!2z0JDQvdCz0LDRgNCwINCX0LDQv9GH0LDRgdGC0Lg!5e0!3m2!1sru!2sru!4v1517403237916" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                 </div>
              </div>
           </div>
       </div>
   </div>
</div>
<!--contact map end-->
<!--contact area start-->
<div class="contact_area">
   <div class="container">
       <div class="row">
           <div class="col-lg-6 col-md-12">
              <div class="contact_message content">
                   <h3>Позвоните Нам</h3>
                   <ul>
                       <li><i class="fa fa-fax"></i> <?=ADRESS_JUR?></li>
                       <li><i class="fa fa-phone"></i> <a href="<?=TELEPHONE_FREE_LINK?>"><?=TELEPHONE_FREE?></a></li>
                       <li><i class="fa fa-envelope-o"></i> <?=EMAIL?></li>
                       <li><i class="fa"></i></li>
                   </ul>
              </div>
              <div class="contact_message content">
                    <h3>наши реквизиты</h3>
                    <div class="my-text-m"><?=REQUISITE?></div>
              </div>



           </div>
           <div class="col-lg-6 col-md-12">
             <div class="contact_message form">
                      <!-- <h3 class="my-h3">Божественное Вмешательство</h3> -->
                      <ul class="my_text_xs">
                       <li>Вы можете оставить свой номер и мы сами подберем все необходимое.</br>
                         Деталь точно подойдет на вашу модификацию.</br>
                         Предложим качественные аналоги, и расскажем в каких случаях выгоднее брать оригинал</br>
                       </br>
                      </ul>
                      </br>
                      <form action="#" enctype='multipart/form-data' method=post>
                          <input style="width:auto;margin:0 0 7px 0;border" type=tel name=tel required placeholder="Телефоный номер*"></input>
                          <button type="submit">Отправить</button>
                      </form>
                    </br>

              </div>
             <div class="contact_message content">
                  <h3>График работы</h3>
                  <ul>
                      <li><i class="fa"></i>Понедельник - Воскресенье с <b><?=WORK_FROM_DAYS?> до <?=WORK_TO_DAYS?></b></li>

                      <li><i class="fa"></i></li>
                  </ul>
             </div>

           </div>
       </div>
   </div>
</div>

<!--contact area end-->

<!--contact area end-->
{% endblock content %}


{% block google_map %}
<!--map js code here-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdWLY_Y6FL7QGW5vcO3zajUEsrKfQPNzI"></script>
<script src="https://www.google.com/jsapi"></script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock google_map %}
