{% extends 'base.html' %}
{% load static %}

{% block page_title %}
{{ page_title }}
{% endblock %}

{% block content %}


<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li>Контакты</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--contact area start-->
<div class="contact_area">
   <div class="container">
     <div class="row">
       <h1>Контакты</h1>
       </div>
       <div class="row" style="padding-top:30px">

         <div class="col-lg-6 col-md-12" >
              <div class="contact_message content">
                   <h3>Позвоните Нам</h3>
                   <ul>
                       <li><i class="fa fa-fax"></i>Соловьиная Роща дом 8 корпус 2 офис 9</li>
                       <li><i class="fa fa-phone"></i> <a href="8-800-*******">8-800-***-**-**</a></li>
                       <li><i class="fa fa-envelope-o"></i>venezo@gmail.com</li>
                       <li><i class="fa"></i></li>
                   </ul>
              </div>

       </div>
       <div class="col-lg-6 col-md-12">
         <div class="contact_message form">
                  <!-- <h3 class="my-h3">Божественное Вмешательство</h3> -->
                  <ul class="my_text_xs">
                   <li><b>Мы позиционируемся как торговая площадка, которая объединяет товары всех Европейских поставщиков и разборок,
                    а так же, занимаемся транспортировкой и доставкой этих товаров до Вас</br>
                     Мы находимся в Европе, но у нас есть представительство в Москве которое занимается обработкой заказов и перенаправляет их на нас.</b></br>
                   </br>
                  </ul>
                  <form action="#" enctype='multipart/form-data' method=post>
                      <input style="width:auto;margin:0 0 7px 0;border" type=tel name=tel required placeholder="Телефоный номер*"></input>
                      <button type="submit">Отправить</button>
                  </form>
                </br>

          </div>
         <div class="contact_message content">
              <h3>График работы</h3>
              <ul>
                  <li><i class="fa"></i>Понедельник - Воскресенье <b>с 9 до 19</b></li>

                  <li><i class="fa"></i></li>
              </ul>
         </div>

       </div>
   </div>
</div>

<!--contact area end-->

<!--contact area end-->
{% endblock content %}


{% block google_map %}
<!--map js code here-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdWLY_Y6FL7QGW5vcO3zajUEsrKfQPNzI"></script>
<script src="https://www.google.com/jsapi"></script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock google_map %}
