{% extends 'base.html' %}
{% load static %}

{% block page_title %}
{{ page_title }}
{% endblock %}

{% block content %}
<!-- Button trigger modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_box_call">
  Запустить модальное окно
</button>

<div class="modal fade" id="modal_box_call" tabindex="-1" role="dialog" aria-labelledby="modal_box_call_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <h5 class="modal-title" id="modal_box_call_label">Оставьте свой номер</h5>

        <form action="/mail.php" method="post" class="form-horizontal">
           <div class="form-group">
              <label for="name" control-label>Имя</label>


              <div>
                 <input type="text" class="form-control" name="name" placeholder="Имя">
              </div>
           </div>
           <div class="form-group">
              <label for="phone">Телефон</label>
              <div>
                 <input type="text" class="form-control" id="phone" name="phone" placeholder="Телефон" required>
              </div>
           </div>
           <div class="form-group">
             <label for="message-text" class="col-form-label"></label>
             <textarea class="form-control" id="message-text"></textarea>
          </div>
           <div class="form-group">
              <div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                 <button type="submit" class="btn btn-primary">Отправить</button>
              </div>
           </div>
        </form>



      </div>
    </div>
  </div>
</div>
  <!--Бутон------------------------------------------------------------------->

    <!--error section area end-->
{% endblock content %}
